:root{
    --color-fondos : #f1f2f6;
    --color-naranjo : #E94E03;;
    --color-naranja: #ffa500;
    --color-anaranjado: #E56C32;
    --color-azul : #0000ff;
    --color-negro : #000000;
    --color-blanco : #ffffff;
    --color-chocolate : #d2691e;
    --color-ruge: #dc143c;
    --color-beach: #f5deb3; 
}


body{
    background-color: var(--color-fondos);
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    display: grid;
    grid-auto-columns: repeat(3, 1fr)/ 200px 200px 200px;
    grid-template-areas:"header header header header"
                        "left center center right"
                        "left center center right"
                        "left center center right"
                        "footer footer footer footer";
    height: 100vh;
}
.content-prod{
    display: grid;
    grid-auto-rows: 75px 1fr 180px;
    grid-template-areas:"header"
                        "center"
                        "footer";
                        grid-gap: 2px;
    height: 100vh;
}
.content-cal{
    display: grid;
    grid-auto-columns: 330px 1fr;
    grid-auto-rows: 75px 26px 1fr 180px;
    grid-template-areas:
        "header header "
        "left head"
        "left center"
        "left footer";
    height: 100vh;
}

.cabezeracalendario{
    display: grid;
    grid-auto-columns: 10% 30% 25% 25% 10%;
    grid-template-areas:
        "numero fecha capital cuota .";
        padding: 5px 10px;
}
.calendarionumero{grid-area: numero; text-align: left;}
.calendariofecha{grid-area: fecha;text-align: right;}
.calendariocapital{grid-area: capital;text-align: right;}
.calendariovalorcuota{grid-area: cuota;text-align: right;}

.detallecalendario{
    display: grid;
    grid-auto-columns: 10% 30% 25% 25% 10%;
    grid-template-areas:
        "dnumero dfecha dcapital dcuota .";
    padding: 5px 10px;  
    font-size: smaller;  
    font-weight: 100;
    border-bottom: 1px solid var(--color-naranjo);
}

.dcalendarionumero{grid-area: dnumero; text-align: left;}
.dcalendariofecha{grid-area: dfecha;text-align: right;}
.dcalendariocapital{grid-area: dcapital;text-align: right;}
.dcalendariovalorcuota{grid-area: dcuota;text-align: right;}

.item{
    background-color: var(--color-fondos);
    padding: 1px;
}
.item-prod{
    background-color: var(--color-azul);
    padding: 1px;
}
.item-cal{
    background-color: var(--color-fondos);
    padding: 1px;
}
.item-cal.left{
    overflow-y: scroll;
}
.item-cal-head{
}

.header{
    grid-area: header;
}
.right{
    grid-area: right;
}
.left{
    grid-area: left;
}
.center{
    grid-area: center;
}
.center-head{
    grid-area: head;
    background-color: chartreuse;
}
.center-cal{
    grid-area: center;
    overflow-y: scroll;
}
.footer{
    grid-area: footer;
    background-color: darkgoldenrod;
}
.powered img{
    background-color: var(--color-negro);
}
.hero{
    background: var(--color-fondos);
    color: var(--colot-negro);
    padding: 32px 15px ;
    display: grid;
    justify-content: center;
}
.badge{
    text-align: end;
    grid-area: badge;
}
.badge img:hover{
  filter: grayscale(100%) brightness(70%);
}
.form{
    text-align: center;
    background-color: var(--color-blanco);
    padding: 1.5em;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-areas: "powered badge "
                          "powered login";
    grid-gap: 2px;
}
.powered{
    grid-area: powered;
}
.powered img:hover{
    background-color: var(--color-chocolate);
    filter:var(--color-ruge);
}
.form input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--color-naranjo);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;

text-align: center;
}
.form button{
    background-color: var(--color-naranjo);
    color: var(--color-blanco);
    padding: 10px 15px;
    border-radius: 5px;
    width: 400px;
    border: none;
    font-size: 16px;
    border-bottom: 5px solid var(--color-anaranjado);
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
}
.form button:hover{
    background-color: var(--color-chocolate);
}
.login{
grid-area: login;
}
.header-producto{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 0;
    background-color: var(--color-naranjo);
    color: var(--color-blanco);
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.detalleproducto{
    background-color: var(--color-beach);
    
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: var(--color-naranja);
    
}
.codigoproducto, .nombreproducto, .descripcionproducto{
    margin: 10px;
    font-style: normal;
}

.combocuotas{
    width: 100%;
    height: 38px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--color-naranjo);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 1px 0 1px 0;

text-align: center;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-beach); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-naranjo); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-chocolate); 
  }

@media screen and (max-width:768px){
    .form{
        grid-template-columns: 150px 1fr;
        grid-template-areas: "powered badge"
        "login login";
        grid-gap: 2px;
    }
    .powered{
        overflow:hidden;
        margin:0;
     }
     .powered img{
        display:block;
        width:100%;
        margin:-5% 0 -60% 0;
     }
}