body{
    background-color: F1F2F6;
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    display: grid;
    grid-auto-columns: repeat(3, 1fr)/ 200px 200px 200px;
    grid-template-areas:"header header header header"
                        "left center center right"
                        "left center center right"
                        "left center center right"
                        "footer footer footer footer";
    height: 100vh;
}
.content-prod{
    display: grid;
    grid-auto-rows: 75px 1fr 180px;
    grid-template-areas:"header"
                        "center"
                        "footer";
                        grid-gap: 2px;
    height: 100vh;
}
.content-cal{
    display: grid;
    grid-auto-columns: 330px 1fr;
    grid-auto-rows: 75px 1fr 180px;
    grid-template-areas:
        "header header "
        "left center"
        "left footer";
    height: 100vh;
}
.item{
    background-color: #F1F2F6;
    padding: 1px;
}
.item-prod{
    background-color: rgb(22, 61, 214);
    padding: 1px;
}
.item-cal{
    background-color: #F1F2F6;
    padding: 1px;
}
.item-cal.left{
    overflow-y: scroll;
}
.header{
    grid-area: header;
}
.right{
    grid-area: right;
}
.left{
    grid-area: left;
}
.center{
    grid-area: center;
    
}
.footer{
    grid-area: footer;
}
.powered img{
    background-color: black;
}
.hero{
    background: #F1F2F6;
    color: black;
    padding: 32px 15px ;
    display: grid;
    justify-content: center;
}
.badge{
    text-align: end;
    grid-area: badge;
}
.badge img:hover{
  filter: grayscale(100%) brightness(70%);
}
.form{
    text-align: center;
    background-color: white;
    padding: 1.5em;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-areas: "powered badge "
                          "powered login";
    grid-gap: 2px;
}
.powered{
    grid-area: powered;
}
.powered img:hover{
    background-color: chocolate;
    filter: crimson;
}
.form input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #E94E03;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;

text-align: center;
}
.form button{
    background-color: #E94E03;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    width: 400px;
    border: none;
    font-size: 16px;
    border-bottom: 5px solid #E56C32;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
}
.form button:hover{
    background-color: chocolate;
}
.login{
grid-area: login;
}
.header-producto{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 0;
    background-color: #E94E03;
    color: white;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.detalleproducto{
    background-color: wheat;
    
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: orange;
    
}
.codigoproducto, .nombreproducto, .descripcionproducto{
    margin: 10px;
    font-style: normal;
}

.combocuotas{
    width: 100%;
    height: 38px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #E94E03;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 1px 0 1px 0;

text-align: center;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: wheat; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E94E03; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: chocolate; 
  }

@media screen and (max-width:768px){
    .form{
        grid-template-columns: 150px 1fr;
        grid-template-areas: "powered badge"
        "login login";
        grid-gap: 2px;
    }
    .powered{
        overflow:hidden;
        margin:0;
     }
     .powered img{
        display:block;
        width:100%;
        margin:-5% 0 -60% 0;
     }
}